// Variables=========================================================================================

$color-primaryLight: #fddcc4;
$color-primary: #f1cdb3;
$color-milk: #fafafa;
$color-white: #fff;
$color-veryLightGrey: #f6f6f6;
$color-lightGrey: #cdcdcd;
$color-middleGrey: #545454;
$color-darkGrey: #4c4c4c;
$color-lightBlack: #292929;
$color-black: #000;
$font-family-G: Georgia, "Times New Roman", Times, serif;
$font-family-A: Arial, Helvetica, sans-serif;
$media-desktop: 1280;
$media-tablet: 1279;
$media-mobile: 767;
